{
  "openapi": "3.1.0",
  "info": {
    "title": "TaskFlow External API",
    "description": "Read-only API for accessing TaskFlow task management data. Use this to retrieve task summaries, full task lists, and statistics for daily briefings.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://taskflow.center",
      "description": "Production"
    }
  ],
  "paths": {
    "/api/external/daily-summary": {
      "get": {
        "operationId": "getDailySummary",
        "summary": "Get daily task summary",
        "description": "Returns a structured overview of all tasks organized by status, with stats by category. Ideal for generating a morning briefing. Includes in-progress tasks, on-deck queue, ice box items, and recently completed tasks from the last 7 days.",
        "responses": {
          "200": {
            "description": "Daily summary with task counts, completion rate, and task lists by status",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "generatedAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "totalActive": {
                          "type": "integer",
                          "description": "Total non-archived tasks"
                        },
                        "completionRate": {
                          "type": "string",
                          "description": "Percentage of done tasks out of active (on-deck + in-progress + done). Ice Box/backlog tasks are excluded. e.g. '42%'"
                        },
                        "byStatus": {
                          "type": "object",
                          "properties": {
                            "iceBox": {
                              "type": "integer"
                            },
                            "onDeck": {
                              "type": "integer"
                            },
                            "inProgress": {
                              "type": "integer"
                            },
                            "done": {
                              "type": "integer"
                            },
                            "archived": {
                              "type": "integer"
                            }
                          }
                        },
                        "byCategory": {
                          "type": "object",
                          "properties": {
                            "personal": {
                              "type": "integer"
                            },
                            "elevatedOrganics": {
                              "type": "integer"
                            },
                            "brightlineLabs": {
                              "type": "integer"
                            }
                          }
                        }
                      }
                    },
                    "inProgress": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Task"
                      }
                    },
                    "onDeck": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Task"
                      }
                    },
                    "iceBox": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Task"
                      }
                    },
                    "recentlyCompleted": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Task"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or malformed Authorization header"
          },
          "403": {
            "description": "Invalid API key"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Task": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string",
            "enum": [
              "ice-box",
              "on-deck",
              "in-progress",
              "done",
              "archived"
            ]
          },
          "category": {
            "type": "string",
            "enum": [
              "personal",
              "elevated-organics",
              "brightline-labs"
            ]
          },
          "parentId": {
            "type": "integer",
            "nullable": true,
            "description": "ID of parent task if this is a subtask"
          },
          "sortOrder": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key passed as Bearer token in the Authorization header"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}
